<h1> <%= @project.title %> </h1>
<% if @project_volunteers.any?() %>
<h1>Project Volunteer(s)</h1>
<ul>
<% @project_volunteers.each do |volunteer| %>
  <li>
    <a href="/volunteer/<%= volunteer.id %>"><%= volunteer.name %> </a>
  </li>
<% end %>
</ul>
<% else %>
  <p>There are no volunteers added yet</p>
<% end %>

<form action="/add/<%= @project.id %>" method="post">

  <div class="form-group">
    <label for="add">Add Volunteer</label>
    <input type="text" name="add">
  </div>
  <br>
  <button type="submit" name="Add Volunteer">Add Volunteer</button>
</form>


<form action="/edit/<%= @project.id %>" method="post">

  <div class="form-group">
    <label for="edit">Edit Project Name</label>
    <input type="text" name="edit">
  </div>
  <br>
  <button type="submit" name="Edit Project">Edit Project</button>
</form>

<form action="/delete/<%= @project.id %>" method="get">
  <button type="submit" name="Delete Project">Delete Project</button>
</form>

<a href="/">Back to Home</a>
